<div class="sidebar">
  <div class="sidebar-item">
    <a href="#" (click)="$event.preventDefault()">GERADORES</a>
    <div class="submenu">
      <a href="/cpf">CPF</a>
      <a href="/cnpj">CNPJ</a>
    </div>
  </div>
  <div class="sidebar-item"><a routerLink="/validadores">VALIDADORES</a></div>
  <div class="sidebar-item"><a routerLink="/rede">REDE</a></div>
  <div class="sidebar-item"><a routerLink="/regex">REGEX</a></div>
  <div class="sidebar-item"><a routerLink="/qa">QA</a></div>
  <div class="sidebar-item"><a routerLink="/mais">MAIS</a></div>
</div>
