
.top-menu {
    background-color: #3a3f47;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.top-menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: background 0.3s;
}


.top-menu a:hover {
    background-color: #555;
    border-radius: 4px;
}

.container {
    display: flex;
    height: calc(100vh - 120px);
}